# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2
workflows:
  version: 2
  test:
    jobs:
      - test-for-7.1
      - test-for-7.2
      - test-for-7.3
      - test-for-7.4
jobs:
  test-for-7.0:
    docker:
      - image: circleci/php:7.0-node-browsers
    steps:
      - checkout
      - run: sudo apt update
      - run: sudo docker-php-ext-install zip
      - run: composer install -n --prefer-dist
      - run: ./vendor/bin/phpunit
  test-for-7.1:
    docker:
      - image: circleci/php:7.1-node-browsers
    steps:
      - checkout
      - run: sudo apt update
      - run: sudo docker-php-ext-install zip
      - run: composer install -n --prefer-dist
      - run: ./vendor/bin/phpunit
  test-for-7.2:
    docker:
      - image: circleci/php:7.2-node-browsers
    steps:
      - checkout
      - run: sudo apt update
      - run: sudo docker-php-ext-install zip
      - run: composer install -n --prefer-dist
      - run: ./vendor/bin/phpunit
  test-for-7.3:
    docker:
      - image: circleci/php:7.3-node-browsers
    steps:
      - checkout
      - run: sudo apt update
      - run: sudo docker-php-ext-install zip
      - run: composer install -n --prefer-dist
      - run: ./vendor/bin/phpunit
  test-for-7.4:
    docker:
      - image: circleci/php:7.4-node-browsers
    steps:
      - checkout
      - run: sudo apt update
      - run: sudo docker-php-ext-install zip
      - run: composer install -n --prefer-dist
      - run: ./vendor/bin/phpunit
